header {
    background-color: #259ea7d6;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #a60606;
    color: #fff;
    padding: 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #a60606;
    ;
    color: #fff;
    text-align: center;
    padding: 10px;
}